/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    min-height: 100px;
}


/* Layout */

/* Structure */

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    padding: 10px;
}

/* HEADER */
.main-header{
    background-image: url(./discord-assets/jumbo.png);
    background-size: cover;
}

.link{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    color: white;
    flex-grow: 1;
}

.login{
    border: 1px solid transparent;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    font-size: 14px;
    color: black;
    background-color: white;
    justify-content: center;
}


/* MAIN */

.column-80{
    max-width: 800px;
    margin-top: 50px;
    align-self: center;
}

.text{

}

.iper{
    border: 1px solid black;
    border-radius: 30px;
    font-size: 12px;
    text-align: center; 
}


/* Prima Sezione */

[class^='column']{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jc-center{
    justify-content: center;
}

.reverse{
    flex-direction: row-reverse;
}

.low-pad{
    padding-top: 5px;
}

.u-border{
    border-top: 0.5px solid white;
}

.no-padding{
    padding-bottom: 0;
}

.jc-sbetween{
    justify-content: space-between;
}

.space-tb{
    padding: 10px 0;
}









/* DEBUG */

.debug .main-header{
    background-color: aqua;
}

.debug .bg-blue{
    background-color: blue;
}

.debug .bg-lightgrey, .bg-lightgrey{
    background-color: lightgrey;
}

.debug .bg-lightslategrey{
    background-color: lightslategray;
}

.debug .bg-yellow{
    background-color: rgb(255, 191, 0);
}

.debug .bg-pink{
    background-color: rgb(219, 122, 138);
}

.debug .bg-cyan{
    background-color: cyan;
}

.debug .bg-green{
    background-color: green;
}

.debug .container{
    border: 2px solid black;
}

.debug .row{
    border: 2px solid rgb(255, 1, 1);
}

.debug [class^='column']{
    border: 2px dashed rgb(96, 4, 94);
    padding: 10px;
    min-height: 100px;
}


.debug .column-20{
    flex-basis:20%;
}

.debug .column-30{
    flex-basis:30%;
}

.debug .column-40{
    flex-basis: calc(100% / 2.5);
}

.debug .column-x{
    flex-grow: 1;
}

.debug .column-70{
    flex-basis: 70%;
}

.debug .column-100{
    flex-basis: 100%;
}


