/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    min-height: 50px;
}

/* Structure */

.row{
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

.main-header{
    background-color: #3161E0;
    padding: 20px;
}

.logo, .link, .login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    flex-basis:15%;
}

.link{
    display: flex;
    gap: 30px;
    color: white;
    flex-grow: 1;
}

.login{
    border: 1px solid transparent;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    font-size: 13px;
    color: black;
    background-color: white;
}


/* MAIN */

.bg-img{
    background-image: url(./discord-assets/jumbo.png);
    background-size: cover;
}

.jc-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-800{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    color: white;
    padding: 100px;
}

.xfont{
    font-size: 60px;
}

.t-pad{
    padding-top: 20px;
}

.choice{
    display: flex;
    align-items: center;
}

.bg-white, .bg-black{
    text-align: center;
    border-radius: 30px;
    height: 25px;
}

.bg-white{
    background-color: white;
    color: black;
    font-size: 13px;
}

.bg-black{
    background-color: black;
    color: white;
    font-size: 13px;
}

.col-70, .col-30{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    vertical-align: middle;
}

.col-70{
    flex-basis:70%;
}

.col-30{
    flex-basis:30%;
    flex-direction: column;    
}

.reverse{
    flex-direction: row-reverse;
}

.col-100{
    flex-basis: 100%;
    padding-bottom: 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
    padding-bottom: 30px;
}

.c-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-violet{
    background-color: #8EA1E2;
    color: white;
    font-size: 13px;
    border-radius: 30px;
    height: 25px;
}


/* FOOTER */

.bg-hardgrey{
    background-color: #23272A;
}

.low-pad{
    padding-top: 5px;
}

.jc-c{
    justify-content: center;
    align-items: center;
}

.col-40{
    flex-basis: 40%;
}

.col-15{
    flex-basis: 15%;
}

.u-border{
    border-top: 0.5px solid white;
}

.space-tb{
    padding: 15px 0;
    justify-content: space-between;
}

.bg-light{
    background-color: #8EA1E2;
    color: white;
    font-size: 13px;
    width: 80px;
}