/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    min-height: 50px;
}

/* Structure */

.row{
    display: flex;
    flex-wrap: wrap;
}

header, main{
    font-family: 'Exo 2', sans-serif;
}


/* HEADER */

.main-header{
    background-color: #265EE9;
    padding: 20px;
}

.logo, .link, .login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    display: flex;
    gap: 30px;
    color: white;
    flex-grow: 1;
}

.login{
    border: 1px solid transparent;
    width: 110px;
    height: 25px;
    border-radius: 30px;
    font-size: 13px;
    color: black;
    background-color: white;
}


/* MAIN */

.bg-img{
    background-image: url(./discord-assets/jumbo.png);
    background-size: cover;
    background-position: center;
}

.jc-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-800{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.xfont{
    font-size: 60px;
}

.pad{
    padding: 50px 100px;
}

.choice{
    display: flex;
    align-items: center;
}

.bg-white, .bg-black{
    text-align: center;
    border-radius: 30px;
    height: 25px;
}

.bg-white{
    background-color: white;
    color: black;
    font-size: 13px;
}

.bg-black{
    background-color: black;
    color: white;
    font-size: 13px;
}

.bg-lightgrey{
    background-color: lightgray;
}

.col-70, .col-30{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    vertical-align: middle;
}

.col-70{
    flex-basis:70%;
}

.col-30{
    flex-basis:30%;
    flex-direction: column;    
}

.t-pad{
    padding-top: 20px;
}

.reverse{
    flex-direction: row-reverse;
}

.col-100{
    flex-basis: 100%;
    padding-bottom: 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
    padding-bottom: 30px;
}

.c-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-violet{
    background-color: #8EA1E2;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    height: 34px;
    font-weight: bolder;
}


/* FOOTER */

.bg-hardgrey{
    background-color: #23272A;
}

.low-pad{
    padding-top: 10px;
}

.jc-c{
    justify-content: center;
}

.col-40{
    flex-basis: calc(100% / 3);
}

.white{
    color: white;
    padding: 20px 0;
}

h5{
    color: #8EA1E2;
}

.flag{
    max-width: 20px;
    padding-top: 20px;
}

#lang{
    background-color: transparent;
    border: none;
    color: white;
}

.line-height{
    line-height: 1.4;
}
.color-b{
    color: black;
}

.flex{
    display: flex;
    gap: 30px;
    color: white;
    padding-top: 15px;
}

.col-15{
    flex-basis: calc(100% / 6);
    
}

.u-border{
    border-top: 0.5px solid #8EA1E2;
}

.space-tb{
    padding: 15px 0;
    justify-content: space-between;
}

.bg-light{
    background-color: #8EA1E2;
    color: white;
    font-size: 13px;
    width: 80px;
}